<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="css-container">
    <h2>Lesson CSS</h2>
    <div class="box-css">
      <h3>CSS</h3>
      <a class="button" href="https://docs.google.com/file/d/0Bw5dkrQUEgKOWnNienphSWlaSVk/edit?resourcekey=0-MnYOwOn2Azk6rsmiKfQpZg">Download CSS</a>
      <iframe src="https://docs.google.com/file/d/0Bw5dkrQUEgKOWnNienphSWlaSVk/preview?resourceKey=0-MnYOwOn2Azk6rsmiKfQpZg" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>
</body>
