<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="php-container">
    <h2>Lesson PHP</h2>
    <div class="box-php">
      <h3>PHP</h3>
      <a class="button" href="https://drive.google.com/file/d/1eUuPlMBiPbCExZ_ZJfQopBOi3U7PYCSw/view?fbclid=IwAR3TSU8uicKe4-aURVAaxY98Yy7O3sPKW0d0EOGWLWOj-Sz1MPduEIjSi_U">Download PHP</a>
      <iframe src="https://drive.google.com/file/d/1eUuPlMBiPbCExZ_ZJfQopBOi3U7PYCSw/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>
</body>
