<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="location">
    <h3>Contact Us</h3>
    <div class="map">
      <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.077201558923!2d104.9094095148077!3d11.546319691801918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x97987b3718ab770a!2zMTHCsDMyJzQ2LjgiTiAxMDTCsDU0JzQxLjgiRQ!5e0!3m2!1sen!2skh!4v1674480597408!5m2!1sen!2skh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>Mail Us: <span>Heng@gmail.com</span> Or Call (+855) 96 400 1784.</p>
    </div>
  </div>
</body>


<body class="footer">
  <footer>
      <div class="footer-container">
          <h3>CLASS</h3>
          <ul>
              <li>UI/UX Design</li>
              <li>Development</li>
              <li>Language</li>
              <li>Mathematics</li>
              <li>Science</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>COMPANY</h3>
          <ul>
              <li>About Us</li>
              <li>Careers</li>
              <li>Affiliate</li>
              <li>Media</li>
              <li>Sitemap</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>LEGAL</h3>
          <ul>
              <li>Security</li>
              <li>Contact </li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>Join Our Newslwtter</h3>
          <p class="caption">By clicking subscribe,you agree to receive our newsletter for information on news,promotions,products & offers as a memeber of the Courzees loyalty program.For more details see our privacy policy.</p>
          <div class="subscribe">
              <input type="text" placeholder="Email Address..." >
              <button>Subscribe</button>
          </div>
      </div>
  </footer>
  <div class="line">

  </div>
  <div class="privacy">
      <p>Copyright Courzees All Right Reserved.</p>
      <div class="follow">
          <p>Terms of Service</p>
          <p>Privacy Policy</p>
          <div class="icon">
              <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
          </div>
      </div>
  </div>
</body>

