<body>
    <footer>
        <div class="footer-container">
            <h3>CLASS</h3>
            <ul>
                <li>UI/UX Design</li>
                <li>Development</li>
                <li>Language</li>
                <li>Mathematics</li>
                <li>Science</li>
            </ul>
        </div>
        <div class="footer-container">
            <h3>COMPANY</h3>
            <ul>
                <li>About Us</li>
                <li>Careers</li>
                <li>Affiliate</li>
                <li>Media</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div class="footer-container">
            <h3>LEGAL</h3>
            <ul>
                <li>Security</li>
                <li [routerLink]="['../contact']" routerLinkActive="active">Contact </li>
            </ul>
        </div>
        <div class="footer-container">
            <h3>Join Our Newslwtter</h3>
            <p class="caption">By clicking subscribe,you agree to receive our newsletter for information on news,promotions,products & offers as a memeber of the Courzees loyalty program.For more details see our privacy policy.</p>
            <div class="subscribe">
                <input type="text" name="" id="email" placeholder="Email Address..." class="first" formControlName="last_name">
                <!-- <button>Subscribe</button> -->
                <button type="submit" (click)="register(profileForm.value)">Subscribe</button>
            </div>
        </div>
    </footer>
    <div class="line">

    </div>
    <div class="privacy">
        <p>Copyright Courzees All Right Reserved.</p>
        <div class="follow">
            <p>Terms of Service</p>
            <p>Privacy Policy</p>
            <div class="icon">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</body>
