<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="java-container">
    <h2>Lesson JAVASCRIPT</h2>
    <div class="box-java">
      <h3>JAVASCRIPT</h3>
      <a class="button" href="https://drive.google.com/file/d/1eCbyvyF3fqSfWfxhIJWcq7-DBgxmrYxP/view">Download JAVASCRIPT</a>
      <iframe src="https://drive.google.com/file/d/1eCbyvyF3fqSfWfxhIJWcq7-DBgxmrYxP/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>
</body>
