<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="lesson-container">
    <h2>Lesson For Learning</h2>
    <div class="box-html">
      <h3>HTML</h3>
      <a class="button" href="https://drive.google.com/file/d/0B1PFn5YdEgw-eTdsMk1kNnZFa2c/view?resourcekey=0-Sj_7QOZbOs_g3VRgyRixXQ">Download HTML</a>
      <iframe src="https://drive.google.com/file/d/0B1PFn5YdEgw-eTdsMk1kNnZFa2c/preview?resourceKey=0-Sj_7QOZbOs_g3VRgyRixXQ" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="box-css">
      <h3>CSS</h3>
      <a class="button" href="https://docs.google.com/file/d/0Bw5dkrQUEgKOWnNienphSWlaSVk/edit?resourcekey=0-MnYOwOn2Azk6rsmiKfQpZg">Download CSS</a>
      <iframe src="https://docs.google.com/file/d/0Bw5dkrQUEgKOWnNienphSWlaSVk/preview?resourceKey=0-MnYOwOn2Azk6rsmiKfQpZg" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="box-java">

      <h3>JAVASCRIPT</h3>
      <a class="button" href="https://drive.google.com/file/d/1eCbyvyF3fqSfWfxhIJWcq7-DBgxmrYxP/view">Download JAVASCRIPT</a>
      <iframe src="https://drive.google.com/file/d/1eCbyvyF3fqSfWfxhIJWcq7-DBgxmrYxP/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="box-php">
      <h3>PHP</h3>
      <a class="button" href="https://drive.google.com/file/d/1eUuPlMBiPbCExZ_ZJfQopBOi3U7PYCSw/view?fbclid=IwAR3TSU8uicKe4-aURVAaxY98Yy7O3sPKW0d0EOGWLWOj-Sz1MPduEIjSi_U">Download PHP</a>
      <iframe src="https://drive.google.com/file/d/1eUuPlMBiPbCExZ_ZJfQopBOi3U7PYCSw/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="box-python">
      <h3>PYTHON</h3>
      <a class="button" href="https://drive.google.com/file/d/10zriVE6OHmBsWzOBY5RONK3tmNxUAl8l/view">Download PYTHON</a>
      <iframe src="https://drive.google.com/file/d/10zriVE6OHmBsWzOBY5RONK3tmNxUAl8l/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="box-bootstrab">
      <h3>BOOTSTRAB</h3>
      <a class="button" href="https://drive.google.com/file/d/19vr62FofncmcGvlDgQZp2TlnjAWVd_oX/view">Download BOOTSTRAB</a>
      <iframe src="https://drive.google.com/file/d/19vr62FofncmcGvlDgQZp2TlnjAWVd_oX/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>
</body>
