<body>
  <div class="improve-grade">
    <h3>Improve Your Grades with online course</h3>
    <p>Want to improve your school grades? You need to study harder with the help of great teacher to improve your performance at school.</p>
    <div class="btn-started">
      <button class="btn-get-start">Get Started</button>
      <div class="video">
        <i class="fa-solid fa-circle-play"></i>
        <p>Play Video</p>
      </div>
    </div>
    <div class="quality">
      <div class="check-quality">
        <i class="fa-solid fa-circle-check"></i>
        <p>Certified Teachers</p>
      </div>
      <div class="check-quality">
        <i class="fa-solid fa-circle-check"></i>
        <p>High Quality Video</p>
      </div>
      <div class="check-quality">
        <i class="fa-solid fa-circle-check"></i>
        <p>Affordable Price</p>
      </div>
    </div>
  </div>
  <div class="pic">
    <img src="../../../assets/pic-1.png" alt="">
  </div>
</body>
