@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton|Poiret+One|Raleway');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-1{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
body{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 1.75vw;

  position: relative;
  z-index: 1;
   *{
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  z-index: 100;
  }

  ul,
  li{
    list-style: none;
  }
  label{
    cursor: pointer;
  }
  input{
    display: none;
  }

  .slider{
    height: 100%;
    width: 100%;
    overflow: hidden;

  }

  .slider > ul {
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .slider > ul > li{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    z-index: 1;
    transition: all 2000ms ease;
  }
  .slider > #input-slide-0:checked ~ ul > li.slide-0,
  .slider > #input-slide-1:checked ~ ul > li.slide-1,
  .slider > #input-slide-2:checked ~ ul > li.slide-2,
  .slider > #input-slide-3:checked ~ ul > li.slide-3{
    opacity: 1;
    z-index: 2;

  }
  .slider > ul > li.slide-0{

     img{
      height: 100vh;
      object-fit: cover;
      background-size: center;

    }
  }

  .slider > ul > li.slide-1{
    img{
      height: 100vh;
      object-fit: cover;
      background-size: center;

    }
  }
  .slider > ul > li.slide-2{
    img{
      height: 100vh;
      object-fit: cover;
      background-size: center;

    }
  }
  .slider > ul > li.slide-3{
    img{
      height: 100vh;
      object-fit: cover;
      background-size: center;


    }
  }

  .slider > .slider-arrow-prev,
  .slider > .slider-arrow-next {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 300;

  }
  .slider > .slider-arrow-prev > label,
  .slider > .slider-arrow-next > label {
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-top: -2.5vw;
    opacity: 0;
    background-size: 100% auto;
    background-position: center;

    z-index: -1;
      transition: all 0.5s ease;
  }
  .slider > #input-slide-0:checked ~ .slider-arrow-prev > label.slide-3,
  .slider > #input-slide-0:checked ~ .slider-arrow-next > label.slide-1,
  .slider > #input-slide-1:checked ~ .slider-arrow-prev > label.slide-0,
  .slider > #input-slide-1:checked ~ .slider-arrow-next > label.slide-2,
  .slider > #input-slide-2:checked ~ .slider-arrow-prev > label.slide-1,
  .slider > #input-slide-2:checked ~ .slider-arrow-next > label.slide-3,
  .slider > #input-slide-3:checked ~ .slider-arrow-prev > label.slide-2,
  .slider > #input-slide-3:checked ~ .slider-arrow-next > label.slide-0 {
    z-index: 1;

  }

  .slider > .slider-dot {
    position: relative;
    margin-top: -4vw;
    text-align: center;
    z-index: 300;
    font-size: 0;
  }
  .slider > .slider-dot > label {
    position: relative;
    display: inline-block;
    margin: 1vw 0.5vw;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;

    background-color: #FFF;
  }
  .slider > #input-slide-0:checked ~ .slider-dot > label.slide-0,
  .slider > #input-slide-1:checked ~ .slider-dot > label.slide-1,
  .slider > #input-slide-2:checked ~ .slider-dot > label.slide-2,
  .slider > #input-slide-3:checked ~ .slider-dot > label.slide-3 {
    background-color: black;

  }
  .slider > .slider-dot > label:hover{
    background-color: #F73C3F !important;
  }
  .slider > .slide-description{
    position: absolute;
    width: 50%;
    top: calc(50% - 3vw);
    left: 25%;
    z-index: 200;
  }
  .slider > .slide-description > label{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: default;

    z-index: 0;
    opacity: 0;
    visibility: hidden;
      transition: all 0.75s ease;
  }
  .slider > #input-slide-0:checked ~ .slide-description > .slide-0,
  .slider > #input-slide-1:checked ~ .slide-description > .slide-1,
  .slider > #input-slide-2:checked ~ .slide-description > .slide-2,
  .slider > #input-slide-3:checked ~ .slide-description > .slide-3{
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }
  .slider > .slide-description > label > .text-slide{
    margin: 0 auto;
    line-height: 6vw;
    text-align: center;
  }



  @keyframes slide{
    0%, 100% { opacity: 0; }
    6%, 25% { opacity: 1; z-index: 2; }
    30%, 50% { opacity: 0; z-index: 2; }
  }
  .slider > #input-slide-autoplay:checked ~ ul > li.slide-0{
    animation: slide 32000ms infinite -2000ms linear;
  }
  .slider > #input-slide-autoplay:checked ~ ul > li.slide-1{
    animation: slide 32000ms infinite 6000ms linear;
  }
  .slider > #input-slide-autoplay:checked ~ ul > li.slide-2{
    animation: slide 32000ms infinite 14000ms linear;
  }
  .slider > #input-slide-autoplay:checked ~ ul > li.slide-3{
    animation: slide 32000ms infinite 22000ms linear;
  }
  .slider > #input-slide-autoplay:checked ~ ul > li{
    transition: none;
  }


  @keyframes arrow {
    0%, 24% { z-index: 1; }
    25%, 100% { z-index: -1; }
  }
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-3,
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-1{
    animation: arrow 32000ms infinite -2000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-0,
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-2{
    animation: arrow 32000ms infinite 6000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-1,
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-3{
    animation: arrow 32000ms infinite 14000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-2,
  .slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-0{
    animation: arrow 32000ms infinite 22000ms;
  }


  @keyframes dot {
    0%, 24%	{ background-color: #333; }
    25%, 100% { background: #FFF; }
  }
  .slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-0{
    animation: dot 32000ms infinite -2000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-1{
    animation: dot 32000ms infinite 6000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-2{
    animation: dot 32000ms infinite 14000ms;
  }
  .slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-3{
    animation: dot 32000ms infinite 22000ms;
  }


  @keyframes description{
    0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
    6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
    25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
  }
  .slider > #input-slide-autoplay:checked ~ .slide-description > .slide-0{
    animation: description 32000ms infinite -2000ms ease;
  }
  .slider > #input-slide-autoplay:checked ~ .slide-description > .slide-1{
    animation: description 32000ms infinite 6000ms ease;
  }
  .slider > #input-slide-autoplay:checked ~ .slide-description > .slide-2{
    animation: description 32000ms infinite 14000ms ease;
  }
  .slider > #input-slide-autoplay:checked ~ .slide-description > .slide-3{
    animation: description 32000ms infinite 22000ms ease;
  }
  .slider > #input-slide-autoplay:checked ~ .slide-description > label{
      transition: none;
  }


}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  justify-content: space-evenly;
  gap: 100px;
  background: rgba( 0, 0, 0, 0.2);


  position: absolute;
  top: 0;
  z-index: 4;
  .improve-grade{

    display: flex;
    flex-direction: column;
    gap: 15px;
    .cap-1{

      display: flex;
      flex-direction: column;
      gap: 20px;
      h3{
        width: 80%;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        // color: #454E57;
        color: #fff;
        margin: 0;
      }
      p{
        width: 80%;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        // color: #939B9E;
        color: #fff;
        margin: 0;
      }
    }
    .btn-started{

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      .btn-get-start{

        padding: 10px 20px;
        border: 1px solid #5459E8;
        background: #5459E8;
        border-radius: 10px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        transition: 0.3s;
      }
      .btn-get-start:hover{
        background: transparent;
        color: #fff;
        cursor: pointer;
      }
      .video{

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        i{
          font-size: 35px;
          color: #FCB913;
        }
        p{
          font-size: 14px;
          margin: 0;
          // color: #515151;
          color: #fff;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
    .quality{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;

      gap: 10px;
      .check-quality{
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        i{
          font-size: 20px;
          color: #535AE6;
        }
        p{
          width: auto;
          font-size: 14px;
          margin: 0;
          // color: #515151;
          color: #fff;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
  .pic{
    img{
      height: 300px;

    }

  }
}

@media screen and (max-width: 1024px){
  .container-1 .container{
    height: auto;

  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .improve-grade{
    width: 100%;

  }
  .container .improve-grade .cap-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // .container-1 .container{
  //   height: auto;
  //   display: flex;
  //   flex-direction: column;
  //   padding: 20px 0;
  // }

  .container .improve-grade .cap-1 h3{
    text-align: center;
  }
  .container .improve-grade .cap-1 p{
    width: 100%;
    text-align: center;
  }
  .container .improve-grade .btn-started {
    padding: 0 40px;

  }
  .container .improve-grade .quality{
    padding: 0 14px;
  }
}
}
@media screen and (max-width: 500px){

  .container{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

  }
  .container .btn-started{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .container-1 .container .improve-grade .cap-1 h3{
    width: 100%;
    text-align: center;
  }
  .container .improve-grade .cap-1 p{
    text-align: center;
  }

  .container-1 .container .improve-grade .quality{
    // width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 400px){
  .container-1 body .slider ul li {
    width: 100%;
  }
}

