<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="teacher-container">
    <div class="container-1">
      <div class="box">
        <img src="../../../../assets/teacher-1.jpg" alt="">
        <p>Web designer</p>
        <p>Jonh Ken</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-2.png" alt="">
        <p>Web development</p>
        <p>Ven Den</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-3.jfif" alt="">
        <p>Mobile developer</p>
        <p>Chean Khun</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-4.png" alt="">
        <p>Full-stack developer</p>
        <p>Fular Neaki</p>
      </div>
    </div>
    <div class="container-2">
      <div class="box">
        <img src="../../../../assets/teacher-5.png" alt="">
        <p>Cyber security manager</p>
        <p>Wid Git</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-6.png" alt="">
        <p>Database analyst</p>
        <p>Hong Keang</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-7.jpg" alt="">
        <p>Network administrator</p>
        <p>Pherk Tik</p>
      </div>
      <div class="box">
        <img src="../../../../assets/teacher-8.jpg" alt="">
        <p>IT manager</p>
        <p>Seang Chan</p>
      </div>
    </div>
  </div>
</body>


<body class="footer">
  <footer>
      <div class="footer-container">
          <h3>CLASS</h3>
          <ul>
              <li>UI/UX Design</li>
              <li>Development</li>
              <li>Language</li>
              <li>Mathematics</li>
              <li>Science</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>COMPANY</h3>
          <ul>
              <li>About Us</li>
              <li>Careers</li>
              <li>Affiliate</li>
              <li>Media</li>
              <li>Sitemap</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>LEGAL</h3>
          <ul>
              <li>Security</li>
              <li>Contact </li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>Join Our Newslwtter</h3>
          <p class="caption">By clicking subscribe,you agree to receive our newsletter for information on news,promotions,products & offers as a memeber of the Courzees loyalty program.For more details see our privacy policy.</p>

      </div>
  </footer>
  <div class="line">

  </div>
  <div class="privacy">
      <p>Copyright Courzees All Right Reserved.</p>
      <div class="follow">
          <p>Terms of Service</p>
          <p>Privacy Policy</p>
          <div class="icon">
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa-brands fa-square-facebook"></i></a></div>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/intent/tweet"><i class="fa-brands fa-twitter"></i></a>
          </div>
      </div>
  </div>
</body>


