<body class="testimonial">
  <div class="caption-container">
    <h4>TESTIMONIALS</h4>
    <h2>Testimonial from Courzees Member</h2>
    <p>Cuseomer experience during our place, and we share it with you as a reference to believe in us.</p>
  </div>
  <swiper
      [slidesPerView]="1"
      [spaceBetween]="20"
      [navigation]="true"
      [pagination]="{ clickable: true }">
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/profile.webp" alt="">
            <div class="name">
              <h5>Jane Cooper</h5>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/pf-1.jfif" alt="">
            <div class="name">
              <h5>Marvin Mckinney</h5>
              <p>UI/UX Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/pf-2.png" alt="">
            <div class="name">
              <h5>Leslie Alexander</h5>
              <p>UX Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/pf-3.png" alt="">
            <div class="name">
              <h5>Jane Cooper</h5>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/pf-5.png" alt="">
            <div class="name">
              <h5>Kenmino Vysa</h5>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="box">
          <div class="profile">
            <img src="../../../assets/pf4.png" alt="">
            <div class="name">
              <h5>Guiscy Faruk</h5>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="caption-profile">
            <p class="cap-1">Really love this courses</p>
            <p>"With the hotel's old-scholl opulence and there are outstanding-ring in the middle middle miles is Downtown's."</p>
          </div>
        </div>
      </ng-template>
  </swiper>
</body>
