@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.testimonial{
  height: 100vh;
  width: 100%;

  .caption-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    gap: 5px;
    h4{
      width: 100%;
      color: #545AE8;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      text-align: center;
    }
    h2{
      width: 100%;
      text-align: center;
      color: #454E57;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
    }
    p{
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #848990;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
    }
  }
  .swiper {
    width: 80%;
    height: 50%;
  }

  .swiper-slide {

    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .box{
      height: 220px;
      width: 380px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 7px 0.5px rgba( 0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 50px;
      transition: 0.3s;
      cursor: pointer;
      .profile{
        display: flex;
        flex-direction: row;
        gap: 10px;
        img{
          height: 40px ;
          width: 40px;
          border-radius: 50%;
        }
        .name{
          display: flex;
          flex-direction: column;
          h5{
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            color: #005;
            margin: 0;
          }
          p{
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            color: #7A7E87;
            margin: 0;
          }
        }
      }
      .caption-profile{
        padding: 10px 0;
        .cap-1{
          font-size: 15px;
          font-family: 'Open Sans', sans-serif;
          color: #005;
          padding: 5px 0;
        }
        p{
          width: 300px;
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          color: #7A7E87;
          margin: 0;
        }
      }
    }
    .box:hover{
      box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.2);
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 500px){
  .testimonial .swiper{
    width: 100%;
  }
}
