<body data-aos="fade-up">

    <div class="caption-container">
        <h3>Why Must Courzees?</h3>
        <p>We have been doing this for more than 10 years because we want to always provide learning services that are not taught in school.</p>
    </div>
    <div class="box-container">
        <div class="box" data-aos="fade-right">
            <h4>Flexible Time</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorum earum quibusdam hic dolores reprehenderit consequuntur, amet saepe nisi repudiandae?</p>
            <div class="more">
                <h5  mat-button (click)="openDialog()">Learn More</h5>
                <i (click)="openDialog()" class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <div class="box-1" data-aos="flip-up">
            <h4>Certified Teachers</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorum earum quibusdam hic dolores reprehenderit consequuntur, amet saepe nisi repudiandae?</p>
            <div class="more">
              <h5  mat-button (click)="openDialog()">Learn More</h5>
              <i (click)="openDialog()" class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <div class="box-2" data-aos="fade-left">
            <h4>Affordable Prices</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorum earum quibusdam hic dolores reprehenderit consequuntur, amet saepe nisi repudiandae?</p>
            <div class="more">
              <h5  mat-button (click)="openDialog()">Learn More</h5>
              <i (click)="openDialog()" class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
</body>
