*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  .open-more{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 4;
    top:0;
    .box-more{
      height: 50vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      z-index: 5;
      // gap: 100px;
      p{
        width: 70%;
        padding: 70px 0;
      }
      button{
        padding: 10px 35px;
        background: #5459E8;
        border: 1px solid #5359E8;
        border-radius: 10px;
        color: #fff;
      }
      button:hover{
        background: transparent;
        color: #000;
        cursor: pointer;
      }

    }
  }



  .open-more-1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 4;
    top:0;
    .box-more{
      height: 50vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      // gap: 100px;
      p{
        width: 70%;
        padding: 70px 0;
      }
      button{
        padding: 10px 35px;
        background: #5459E8;
        border: 1px solid #5359E8;
        border-radius: 10px;
        color: #fff;
      }
      button:hover{
        background: transparent;
        color: #000;
        cursor: pointer;
      }

    }
  }

  .open-more-2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 4;
    top:0;
    .box-more{
      height: 50vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      // gap: 100px;
      p{
        width: 70%;
        padding: 70px 0;
      }
      button{
        padding: 10px 35px;
        background: #5459E8;
        border: 1px solid #5359E8;
        border-radius: 10px;
        color: #fff;
      }
      button:hover{
        background: transparent;
        color: #000;
        cursor: pointer;
      }

    }
  }


    .caption-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 35px;
            font-family: 'Open Sans', sans-serif;
            color: var(--h3-color);
            padding: 40px 0;
            margin: 0;


        }
        p{
            width: 100%;
            font-size: 14px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: var(--p-color);
            margin: 0;

        }
    }
    .box-container{
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 80px;
        .box{
            height: 300px;
            width: 350px;
            background: var(--box-color);
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            transition: 0.3s;
            // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            box-shadow: var(--shadow-color);
            border: 1px solid #fff;
            h4{
                width: 150px;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
                padding: 5px 0;
                border-bottom: 2px solid #2B6BF3;
                margin: 0;
                color: var(--text-color);
            }
            p{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                padding: 20px 0;
                margin: 0;
                color: var(--text-color);
            }
            .more{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                h5{
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                    padding: 20px 0;
                    color: #5359E8;
                    margin: 0;
                    cursor: pointer;
                }
                i{
                    font-size: 20px;
                    color: #5359E8;
                    cursor: pointer;
                }
                h5:hover{
                  color: #667083;

                }
                i:hover{
                  color: #667083;
                }
            }
        }
        .box-1{
            height: 300px;
            width: 350px;
            background: var(--box-color);
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            transition: 0.3s;
            // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            box-shadow: var(--shadow-color);
            border: 1px solid #fff;

            h4{
                width: 210px;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
                padding: 5px 0;
                border-bottom: 2px solid #F27B59;
                margin: 0;
                color: var(--text-color);
            }
            p{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                padding: 20px 0;
                margin: 0;
                color: var(--text-color);
            }
            .more{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                h5{
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                    padding: 20px 0;
                    color: #5359E8;
                    margin: 0;
                    cursor: pointer;
                }
                i{
                    font-size: 20px;
                    color: #5359E8;
                    cursor: pointer;
                }
                h5:hover{
                  color: #667083;

                }
                i:hover{
                  color: #667083;
                }
            }
        }
        .box-2{
            height: 300px;
            width: 350px;
            background: var(--box-color);
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            transition: 0.3s;
            // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
            box-shadow: var(--shadow-color);
            border: 1px solid #fff;
            h4{
                width: 200px;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
                padding: 5px 0;
                border-bottom: 2px solid #3ED09F;
                margin: 0;
                color: var(--text-color);
            }
            p{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                padding: 20px 0;
                margin: 0;
                color: var(--text-color);
            }
            .more{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                h5{
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                    padding: 20px 0;
                    color: #5359E8;
                    margin: 0;
                    cursor: pointer;
                }
                i{
                    font-size: 20px;
                    color: #5359E8;
                    cursor: pointer;
                }
                h5:hover{
                  color: #667083;

                }
                i:hover{
                  color: #667083;
                }
            }
        }
    }
    .box-container .box:hover{
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2) ;
    }
    .box-container .box-1:hover{
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2) ;
    }.box-container .box-2:hover{
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2) ;
    }
}


@media screen and (max-width: 1024px){
  body{
    height: auto;
    width: 100%;
  }
  body .box-container{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

  }

  body .open-more .box-more{
    height: auto;
  }

}


@media screen and (max-width: 500px){
  body .open-more {
    height: auto;
    position: absolute;
  }
}
