*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: #5459E8;

    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        h3{
            width: 100%;
            font-size: 35px;
            padding: 20px 0;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            margin: 0;
        }
        p{
            width: 100%;
            font-size: 14px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            margin: 0;
        }
    }
    .box-courses{
        height: 80vh;
        width: 100%;
        gap: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .box{
            height: 310px;
            width: 23%;
            padding: 0px 30px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{

                padding: 0px 0;
            }
            .caption{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4{
                    font-size: 20px;
                    color: #454E57;
                    font-family: 'Open Sans', sans-serif;
                    margin: 0;
                }
                p{
                    color: #454E57;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    margin: 0;
                }
                h5{
                    color: #454E57;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    margin: 0;
                }
            }

        }
    }
}
@media screen and (max-width: 1024px){
    body{
        height: auto;
        padding: 20px 0;
    }
    body .box-courses{

        height: auto;
        display: flex;
        flex-direction: column;
    }
    body .box-courses{
      width: 100%;
    }

}
@media screen and (max-width: 950px){
  body .box-courses .box{
    width: 45%;
  }
}

@media screen and (max-width: 500px){
  body .box-courses .box{
    width: 90%;
  }

}
