<body>
    <div class="top">
        <h3>Our Top Courses</h3>
        <p>Over 4,000 courses in topics like business mathematic,graphic design,physical science,and more.</p>

    </div>
    <div class="box-courses">
        <div class="box">
            <img src="../../../assets/pic-5.jpg" alt="">
            <div class="caption">
                <h4>Easy way to solve Algorithm</h4>
                <p>Doosan University</p>
                <h5>COURSE</h5>
            </div>
        </div>
        <div class="box">
            <img src="../../../assets/pic-3.png" alt="">
            <div class="caption">
                <h4>Easy way to solve Algorithm</h4>
                <p>Doosan University</p>
                <h5>COURSE</h5>
            </div>
        </div>
        <div class="box">
            <img src="../../../assets/pic-4.webp" alt="">
            <div class="caption">
                <h4>Easy way to solve Algorithm</h4>
                <p>Doosan University</p>
                <h5>COURSE</h5>
            </div>
        </div>
    </div>
</body>
