<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="container">
    <h2>Schedule</h2>
    <table>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td>2:00 PM - 3:30 PM</td>
        <td>html</td>
        <td>css</td>
        <td>javascript</td>
        <td>php</td>
        <td>python</td>
        <td>bootstrab</td>
      </tr>
      <tr>
        <td>3:45 PM - 5:15 PM</td>
        <td>php</td>
        <td>javascript</td>
        <td>python</td>
        <td>bootstrab</td>
        <td>html</td>
        <td>css</td>
      </tr>
    </table>
  </div>

</body>

