<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="courses-container">
    <div class="caption">
      <h3>Courses</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias sequi est earum amet esse suscipit similique recusandae! Inventore deleniti quis quasi magnam quas laborum expedita ratione repellendus iure voluptatum</p>
      <button class="btn-join" [routerLink]="['/signup']" routerLinkActive="active">Register</button>
    </div>
    <div class="image">
      <img src="../../../../assets/courses.png" alt="">
      <img src="../../../../assets/class.png" alt="">
    </div>
  </div>
</body>


<div class="box">
  <div class="box-pricing">
      <div class="caption">
          <h2>Standart</h2>
          <p>The national average cost of buying coin easy.</p>
          <h3>$12<span>/month</span></h3>
          <a href="https://t.me/HoengLyheng"><button>Select Plan</button></a>
      </div>
      <div class="important">
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>50 GB cloud storage</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Worldwide accessbility</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Low latency</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Access all features</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>24 hours support</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Sync accross devices</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Share with more 5 users</p>
          </div>
      </div>
  </div>
  <div class="box-pricing">
      <div class="caption">
          <h2>Extended</h2>
          <p>The national average cost of buying coin easy.</p>
          <h3>$18<span>/month</span></h3>
          <a href="https://t.me/HoengLyheng"><button>Select Plan</button></a>
      </div>
      <div class="important">
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>200 GB cloud storage</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Worldwide accessbility</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Low latency</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Access all features</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>24 hours support</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Sync accross devices</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Share with more 5 users</p>
          </div>
      </div>
  </div>
  <div class="box-pricing">
      <div class="caption">
          <h2>Premium+</h2>
          <p>The national average cost of buying coin easy.</p>
          <h3>$28<span>/month</span></h3>
          <a href="https://t.me/HoengLyheng"><button>Select Plan</button></a>
      </div>
      <div class="important">
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>400 GB cloud storage</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Worldwide accessbility</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Low latency</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Access all features</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>24 hours support</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Sync accross devices</p>
          </div>
          <div class="check">
              <i class="fa-solid fa-circle-check"></i>
              <p>Share with more 5 users</p>
          </div>
      </div>
  </div>
</div>

<body class="footer">
  <footer>
      <div class="footer-container">
          <h3>CLASS</h3>
          <ul>
              <li>UI/UX Design</li>
              <li>Development</li>
              <li>Language</li>
              <li>Mathematics</li>
              <li>Science</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>COMPANY</h3>
          <ul>
              <li>About Us</li>
              <li>Careers</li>
              <li>Affiliate</li>
              <li>Media</li>
              <li>Sitemap</li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>LEGAL</h3>
          <ul>
              <li>Security</li>
              <li>Contact </li>
          </ul>
      </div>
      <div class="footer-container">
          <h3>Join Our Newslwtter</h3>
          <p class="caption">By clicking subscribe,you agree to receive our newsletter for information on news,promotions,products & offers as a memeber of the Courzees loyalty program.For more details see our privacy policy.</p>
          <div class="subscribe">
              <input type="text" placeholder="Email Address..." >
              <button>Subscribe</button>
          </div>
      </div>
  </footer>
  <div class="line">

  </div>
  <div class="privacy">
      <p>Copyright Courzees All Right Reserved.</p>
      <div class="follow">
          <p>Terms of Service</p>
          <p>Privacy Policy</p>
          <div class="icon">
              <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
          </div>
      </div>
  </div>
