<body>
    <div class="caption">
        <h2>Exolore Course by Category</h2>
        <p>Get the most exciting course from all around the world and grow your career fast with others.</p>
    </div>
    <div class="box-category-1">
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-inbox"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-book-bible" style="color: #80FFAD;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-users" style="color: #3981F8;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-file-invoice-dollar" style="color: #FE8957;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-category-1">
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-shield-halved" style="color: #C059FF;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-briefcase" style="color: #FE7677;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-solid fa-pencil" style="color:#FECF43;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-1">
                <i class="fa-regular fa-folder"  style="color: #5D38DE;"></i>
                <div class="box-cap">
                    <h4>Foreign Language Learning</h4>
                    <p>20 Course Available</p>
                </div>
            </div>
        </div>
    </div>
</body>
