*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    .caption{
      width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        h2{
          width: 100%;
          font-size: 35px;
          padding: 15px 0px;
          font-family: 'Open Sans', sans-serif;
          color: var(--h3-color);
          margin: 0;
          text-align: center;
        }
        p{
          width: 100%;
          font-size: 14px;
          text-align: center;
          font-family: 'Open Sans', sans-serif;
          color: var(--p-color);
          padding: 0 20px;
          margin: 0;
        }
    }
    .box-container-1{
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      .box-category-1{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 15px 0;
          .box{
              margin-left: 20px;
              height: 140px;
              width: 250px;
              background: var(--background-color);

              box-shadow: var(--shadow-category);
              border: 1px solid #fff;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.3s;
              .box-1{
                  height: 100px;

                  display: flex;
                  flex-direction: row;

                  justify-content: center;
                  // align-items: center;
                  gap: 10px;

                  i{
                      font-size: 25px;
                      padding: 13px 0;
                      color: #FF66F9;
                  }
                  img{
                    height: 25px;
                    margin-top: 16px;
                  }
                  .box-cap{
                    h4{
                      font-size: 15px;
                      width: 170px;
                      padding: 10px 0;
                      color: var(--h4-color);
                      font-family: 'Open Sans', sans-serif;
                      margin: 0;
                    }
                    p{
                      color:var(--p-color);
                      font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      margin: 0;
                    }
                  }
              }
          }
          .box:hover{
            // background: #5459E8;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

          }
      }


      .box-category-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        .box{

            margin-left: 20px;
            height: 140px;
            width: 250px;
            background: var(--background-color);

            box-shadow: var(--shadow-category);
            border: 1px solid #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s;
            .box-1{
                height: 100px;

                display: flex;
                flex-direction: row;

                justify-content: center;
                gap: 10px;

                i{
                    font-size: 25px;
                    padding: 13px 0;
                    color: #FF66F9;
                }
                .box-cap{
                  h4{
                      font-size: 15px;
                      width: 170px;
                      padding: 10px 0;
                      color: var(--h4-color);
                      font-family: 'Open Sans', sans-serif;
                      margin: 0;
                  }
                  p{
                      color:var(--p-color);
                      font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      margin: 0;
                  }
                }
            }
        }
        .box:hover{
          // background: #5459E8;
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

        }
      }
    }
}
@media screen and (max-width: 1024px){
  body{
    height: auto;

  }
  body .caption h2{
    text-align: center;
  }
  body .box-container-1{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  body .box-container-1 .box-category-1{
    display: flex;
    flex-direction: column;
    gap: 25px;

  }
  body .box-container-1 .box-category-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

}
@media screen and (max-width: 500px){
  body{
    height: auto;
  }
  body .box-container-1{
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
