<body>
  <div class="btn-back">
    <button [routerLink]="['/components']" routerLinkActive="active"><i class="fa-solid fa-arrow-left-long"></i></button>
  </div>
  <div class="html-container">
    <h2>Lesson HTML</h2>
    <div class="box-html">
      <h3>HTML</h3>
      <a class="button" href="https://drive.google.com/file/d/0B1PFn5YdEgw-eTdsMk1kNnZFa2c/view?resourcekey=0-Sj_7QOZbOs_g3VRgyRixXQ">Download HTML</a>
      <iframe src="https://drive.google.com/file/d/0B1PFn5YdEgw-eTdsMk1kNnZFa2c/preview?resourceKey=0-Sj_7QOZbOs_g3VRgyRixXQ" width="640" height="480" allow="autoplay"></iframe>
    </div>
  </div>
</body>
